@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: "Red Hat Display";
    src: url('../fonts/Red-Hat.ttf');
}

@font-face {
    font-family: "Montserrat Bold";
    src: url('../fonts/Montserrat-Bold.ttf');
}


@font-face {
    font-family: "Montserrat Regular";
    src: url('../fonts/Montserrat-Regular.ttf');
}

